@import "tailwindcss";

@theme {
  --color-cyber-bg: #08090d;
  --color-cyber-card: rgba(15, 23, 42, 0.75);
  --color-cyber-green: #1db954;
  --color-cyber-neonGreen: #00ff66;
  --color-cyber-cyan: #00f0ff;
  --color-cyber-pink: #ff0055;
  --color-cyber-border: #1e293b;

  --font-mono: 'Fira Code', monospace;
}

body {
  background-color: var(--color-cyber-bg);
  color: #f8fafc;
  font-family: var(--font-mono);
  overflow: hidden;
}